body {
  background: url('../../assets/sayagata-400px.png');
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.6;
  color: #444;
  font-family: 'Times New Roman', Times, serif;
}

.App {
  margin: 1em;
  max-width: 800px;
}

@media (min-width: 800px) {
  .App {
    margin: 1em auto;
  }
}

a {
  color: #4a913c;
}

.loading {
  padding: 1em;
  margin-bottom: 1em;
}
