.comment {
  padding: 1em;
  margin-bottom: 1em;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(204, 204, 204);
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
  word-wrap: break-word;
}

.comment__header {
  margin-bottom: 1em;
}

.comment__time,
.comment__by,
.comment__replyCount,
.comment__toggle {
  margin-right: 1em;
}

.comment__text {
  overflow: auto;
}

.comment__toggle {
  /* text-decoration: underline; */
  cursor: pointer;
}

.comments .loadButton {
  cursor: pointer;
  text-decoration: underline;
}

.comment__children {
  margin-left: 0.5em;
  margin-top: 1em;
}

@media (min-width: 800px) {
  .comment__children {
    margin-left: 2em;
  }
}
